form,.form{
    width: 100vw;
    background-color: #3a3a3a;
    height: 30vh;
    margin-left: 40%;
    color: antiquewhite;
}
label,input{
    width: 200px;
    height: 25px;
    margin: 5px;
    border-radius: 10px;
}
.btn{
    position: relative;
    width: 200px;
    height: 25px;
    border-radius: 10px;

}

.btn-before{
    position: absolute;
    left: 50%;
    border-radius: 10px;
    width: 11em;
    height: 3em;
}